{% extends 'base.html' %}
{% block title %}
   Maintenance List
{% endblock %}

{% block content %}
  <h1>My Completed Maintenance Tasks</h1>
  <br>
  <div>
    <a class="btn btn-lg btn-primary" href="{{ url_for('maintenance') }}">Back to Current Maintenance Tasks</a>
    <a class="btn btn-lg btn-warning" href="{{ url_for('pending_maintenance') }}">View Pending Maintenance Tasks</a>

  </div>
  <br>
  <a style="color: lawngreen; font-weight: bold; text-align: right;">
    <i class="fas fa-coins"></i>
    Total Amount Spent: ${{ item_cost_sum }}
  </a>
    
    <p></p>

    <table>
        <table class="table table-hover table-dark">
          <thead>
            <tr>
             <!-- COLUMNS -->
              <th scope="col">Maintenance Item</th>
              <th scope="col">Description</th>
              <th scope="col">Due Date</th>
              <th scope="col">Completion Date</th>
              <th scope="col">Cost</th>
              <th scope="col">Options</th>
            </tr>
          </thead>
          <tbody>
            {% for item in items %}
            
           <!--  ROWs-->
              <tr>
                <td>
                  <form action="{{ url_for('item_detail') }}" method="POST" id="itemDetail">
                    <input type="hidden" id=maintenanceID name=maintenanceID value={{ item.maintenanceID }}>
                    <input type="submit" class="btn btn-block btn-info" value="{{item.name}}">
                  </form>
                </td>
                <td>{{ item.description }}</td>
                <td>{% if item.dueDate != None %}
                      {{ item.dueDate.strftime('%m-%d-%Y') }}
                    {% else %}
                      {{ item.dueDate }}
                    {% endif %}
                </td>
                <td>{% if item.completionDate != None %}
                      {{ item.completionDate.strftime('%m-%d-%Y') }}
                    {% else %}
                      {{ item.completionDate }}
                    {% endif %}
                </td>
                      
                <td> {% if item.cost != None %}
                        {{ (item.cost)|round(2) }}</td>
                    {% else %}
                        {{ item.cost}}</td>
                    {% endif %}
                <td>
                 <!-- <form action="{{ url_for('edit_item', item_id=item.maintenanceID) }}" method="POST">

                    <input class="btn btn-outline btn-info" type="submit" value="Edit/Delete">
              
 
                  </form>-->
                  <a class="btn btn-outline btn-info" href="{{ url_for('edit_item', item_id=item.maintenanceID) }}">Edit/Delete</a>
                  <div class="mt-2">
                    <form action="{{ url_for('mark_incomplete') }}" method="POST">
                      <input type="hidden" id=maintenanceID name=maintenanceID value={{ item.maintenanceID }}>
                      <input class="btn btn-outline btn-danger" type="submit" value="Revert Completion Status">
                    </form>
                </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
  {% endblock %}