{% extends 'base.html' %}
{% block title %}
  Date Picker
{% endblock %}

{% block content %}
<form>
    <h1>Select a {{ dateTitle }} for your Maintenance Task:</h1>
    <h1> {{ maintenanceTaskName }}
  <div id="date-picker" class="md-form md-outline input-with-post-icon datepicker" inline="true">
    <input placeholder="Select date" type="date" id="dueDate" class="form-control">
    <label for="example">{{ dateTitle }} </label>

    <i class="fas fa-calendar input-prefix"></i>
    <p>
    <input type=submit value=Upload>
  </div>
</form>
{% endblock %}
