{% extends 'base.html' %}

{% block title %}
Edit Item
{% endblock %}

{% block content%}
<body>
	<div class="container">
		<form method="POST" class="form-register" style="color:white"> 
		{{ form.hidden_tag() }}
		<h3 class="h3 mb-3 font-weight-normal">
		Edit An Existing Maintenance Item
		</h3>
		<div>
		  <a class="btn btn-lg btn-primary" href="{{ url_for('maintenance') }}">Back to Current Maintenance Tasks</a>
		</div>
		<br>
			
			{{ form.name.label() }}
			{{ form.name(class="form-control", value=item.name) }}
			
			{{ form.description.label() }}
			{{ form.description(class="form-control", value=item.description) }}
			
			{{ form.dueDate.label() }}
			<input placeholder="Select date" type="date" value={{item.dueDate}} name="dueDate" id="dueDate" class="form-control">
			
			{{ form.cost.label() }}
			{% if item.cost != None %}
				{{ form.cost(class="form-control", value=item.cost|round(2)) }}
			{% else %}
				{{ form.cost(class="form-control", value=0) }}
			{% endif %}
			<br>

			<div class="mb-3">
			
			{{ form.submit(class="btn btn-md btn-block btn-primary") }}
			</div>

			<h4 class="h4 mb-3 font-weight-normal">**Danger Area** Cannot Undo Delete **</h4>
			{{ form.delete(class="btn btn-md btn-block btn-danger") }} 

		</form>
	</div>
</body>
{% endblock %}
