{% extends 'base.html' %}

{% block title %}
Detail
{% endblock %}

{% block content%}
<body>
	<div class="container">
		<form method="POST" class="form-register" style="color:white"> 
		{{ form.hidden_tag() }}
		<h1 class="h3 mb-3 font-weight-normal">
		{{ item.name }} Details
		</h1>
		<br>
		<br>
			
			{{ form.name.label() }}
			{{ form.name(class="form-control", placeholder="Name of Maintenance Task") }}
			<br>

			{{ form.description.label() }}
			{{ form.description(class="form-control", placeholder="Description") }}
			<br>

			{{ form.dueDate.label() }} (YYYY-mm-dd)
			{{ form.dueDate(class="form-control", placeholder="Due Date") }}
			<br>

			{{ form.cost.label() }}
			{{ form.cost(class="form-control", placeholder = "cost") }}
			<br>
			
			{{ form.submit(class="btn btn-md btn-block btn-primary") }}
		</form>
	</div>
</body>
{% endblock %}