{% extends 'base.html' %}

{% block title %}
Details
{% endblock %}

{% block content%}
<div class="container">
<body>
	<h1>{{item.name}} Details</h1>
  <div>
    <a class="btn btn-md btn-primary" href="{{ url_for('maintenance') }}">Back to Current Maintenance Tasks</a>
  </div>
  <br>
	<p>Task Name: {{ item.name }}</p>
	<p>Description: {{ item.description }}</p>
	<p>Due Date: {{ item.dueDate  }}</p>
	<p>Completion Date: {{ item.completionDate }}</p>
	
  <small>
    CAUTION:text box will overwrite all previous notes. Do not delete existing notes if you want to keep a record of them.<br>
    SUGGESTION: append new notes to top or bottom of text box as needed 
  </small>
  <form action="{{ url_for('item_detail') }}" method="POST" id="itemDetail">
    <input type="hidden" id=maintenanceID name=maintenanceID value={{item.maintenanceID}}>
    <textarea id="notes" name="notes" rows="6" cols="75">{{ item.notes }}  
    </textarea>
    <br><br>
    <input class="btn btn-block btn-info" type="submit" value="Update Notes">
    <br><br>
  </form>

  
  {% if files is not defined %}
    <h2>No records uploaded for '{{ item.name }}'</h2>
    <p>No files uploaded for this item yet</p>
  {% else %}
    <h2>Records associated with '{{item.name}}'</h2>

      <table class="table table-hover table-dark">
        <thead>
          <tr>
           <!-- COLUMNS -->
            <th scope="col">File Name</th>
            <th scope="col">Upload Date</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          {% for file in files %}
          
         <!--  ROWs-->
	          <tr>
	            <td><a href="/downloadFile/{{ file.filename }}">{{file.filename}}</a></td>
	            <td>{{ file.uploadDate }}</td>
	            <td>
	              
                <a class="btn btn-default btn-success" a href="/downloadFile/{{file.filename}}" target="blank">Download</a>
                <a class="btn btn-outline btn-danger" href="{{ url_for('delete_file', file_id=file.id) }}">Delete</a>
	            </td>
	          </tr>
          {% endfor %}
        </tbody>
      </table>
  {% endif %}
</body>
</div>
{% endblock %}