	{% extends 'base.html' %}
	{% block title %}
		My Files
	{% endblock %}

  {% block content %}
    <h1>My Maintenance Records</h1>
    <br>
    <div>
      <span class='float-right'>
        <a class="btn btn-lg btn-primary" href="{{ url_for('upload_file') }}">Upload Record</a>
      </span>
    </div>
    <br>

    <a class="btn btn-lg btn-primary float-right" href="{{ url_for('upload_file') }}">+ Upload Record</a>

    <h3>Files</h3>

  <div>
    <table class="table table-hover table-dark">
      <thead>
        <tr>
         <!-- COLUMNS -->
          <th scope="col">File Name</th>
          <th scope="col">Maintenance Item</th>
          <th scope="col">Upload Date</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        {% for file in files %}
        
       <!--  ROWs-->
          <tr>
            <td><a href="/downloadFile/{{ file.filename }}">{{file.filename}}</a></td>
            <td> {% for item in items %}
                  {% if item.maintenanceID == file.maintenanceID %}
                      {{ item.name }} <!--<a class="btn btn-sm btn-info" href="#">choose different file</a>-->
                  {% endif %}
                {% endfor %}
            </td>
            <td>{{ file.uploadDate }}</td>
            <td>
              
              <a class="btn btn-default btn-success" a href="/downloadFile/{{file.filename}}" target="blank">Download</a>
              <a class="btn btn-outline btn-danger" href="{{ url_for('delete_file', file_id=file.id) }}">Delete File</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
    {% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  <style>
    body {
     background-color: #212121;
      color: white;
    }
  </style>
</html>

<!-- <a class="btn btn-outline btn-info" href="#">Download</a> -->