{% extends 'base.html' %}
{% block title %}
  Overview
{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-1 text-center bg-dark" style="color:white">
  <div class="col-md-5 p-lg-2 mx-auto my-5">
    <h1>Welcome Back!</h1>
    <h3>Task Overview</h2>
      <br><br>


    <table class="center table-bordered" style="border:1px; margin-left:auto;margin-right:auto;">
      <thead>
        <tr>
          <th style="padding:10px">  Completed  </th>
          <th colspan="2" style="padding:10px">  Pending  </th>        
          <th style="padding:10px">  Total Count </th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="3" style="padding:5px">
            <a class="btn btn-block btn-info" href="{{ url_for('completed_maintenance') }}">{{ complete }}</a>
          </td>
          <td colspan="2" style="padding:5px"> <a class="btn btn-block btn-info"href="{{ url_for('maintenance') }}">{{ pending }}</a></td> 

          <td rowspan="3" style="padding:5px">{{ total_count }}</td>
        </tr>
        
          <th style="padding:5px">Overdue</th>
          <th style="padding:5px">No Due Date</th>

        <tr>
          <td style="padding:5px">{{ overdue }}</td>
          <td style="padding:5px">{{ none_date }}</td>
        </tr>
      </tbody>
    </table>


  <div class="product-device box-shadow d-none d-md-block"></div>
  <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
{% endblock %}
