{% extends 'base.html' %}
{% block title %}
  Date Picker
{% endblock %}

{% block content %}
<form>
    <h1>Date Picker</h1>
  <div id="date-picker" class="md-form md-outline input-with-post-icon datepicker" inline="true">
    <input placeholder="Select date" type="date" id="dueDate" class="form-control">
    <label for="example">Due Date</label>

    <input placeholder="Select date" type="date" id="completionDate" class="form-control">
    <label for="example">Completion Date</label>

    <i class="fas fa-calendar input-prefix"></i>
    <p>
    <input type=submit value=Upload>
  </div>
</form>
{% endblock %}

<!--    <form action="" method='POST' name="myForm">
      {{ form.csrf_token }}
      {{ form.dueDate.label }} {{ form.dueDate(class='datepicker') }}{{ form.hidden_tag() }} 
      {{ form.completionDate.label }} {{ form.completionDate(class="datepicker") }}{{ form.hidden_tag() }} 
      <p> {{ form.submit }} </p>
    </form>-->