{% extends 'base.html' %}

{% block title %}
Registration Page
{% endblock %}

{% block content%}

	<form method="POST" class="form-register" style="color:white"> 
		<div class="container">
			{{ form.username.label() }}
			{{ form.username(class="form-control", placeholder = "User Name") }}

			{{ form.email.label() }}
			{{ form.email(class="form-control", placeholder = "Email Address") }}

			{{ form.password.label() }}
			{{ form.password(class="form-control", placeholder = "Password") }}

			{{ form.password_confirm.label() }}
			{{ form.password_confirm(class="form-control", placeholder = "Confirm Password") }}

			{{ form.username.label() }}
			{{ form.username(class="form-control", placeholder = "User Name") }}

		</div>
	</form>

{% endblock %}